.contactContainer {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    place-items: center;
    background: radial-gradient(
        circle,
        rgb(134, 122, 10) 0%,
        rgb(88, 88, 88) 100%
    );
    animation: textAnimation 10s infinite linear;
}
.mailBtn {
    text-decoration: none;
    transform: translateX(-100vw);
    animation: mailBtnAnimation 2s forwards;
}

.mailBtn > button {
    text-decoration: none;
    cursor: url('https://img.icons8.com/color/48/000000/edit--v2.png'), pointer;
    padding: 2vmax;
    font: 700 4vmax 'Roboto';
    background-image: linear-gradient(
        270deg,
        hsl(314deg 63% 57%) 0%,
        hsl(334deg 93% 63%) 8%,
        hsl(350deg 100% 67%) 17%,
        hsl(11deg 100% 66%) 25%,
        hsl(27deg 100% 59%) 33%,
        hsl(43deg 87% 49%) 42%,
        hsl(59deg 79% 44%) 50%,
        hsl(75deg 58% 52%) 58%,
        hsl(98deg 53% 58%) 67%,
        hsl(131deg 51% 60%) 75%,
        hsl(154deg 55% 53%) 83%,
        hsl(168deg 65% 47%) 92%,
        hsl(176deg 67% 45%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textAnimation 10s infinite linear;
}

@keyframes mailBtnAnimation {
    to {
        transform: translateX(0);
    }
}

@keyframes textAnimation {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
